html {
    background-color: #333;
}

body {
     background-color: yellow;
}

.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    color: blue;
  }

.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-size: 40px;
    font-weight: 200;
    font-style: normal;
    color: blue;
  }
  
.paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: red;
    
  }
  
.Wrapper {
    padding: 10px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

#H {
    color: magenta;
}

#dip1, #dip2, #dip3, #dip4, #dip5, #dip6, #dip7, #dip8, #dip9, #dip10, #dip11, #dip12, #dip13, #dip14, #dip15, #dip16, #dip17, #dip18, #dip19, #dip20, #dip21, #dip22, #dip23, #dip24, #dip25 {
    color: red; 
    margin-bottom: 20px;
}


/*img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 20px;
}
*/

img {
    float: right;
    padding: 30px;
}
button {
    background-color: lightblue;
    border-radius: 10px;
    
}

